body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.container {
    width: 350px;
    margin: auto;
    margin-top: 80px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}